<%
=begin %>
<%if @status ==false%>
    <div class="header" style="width: 100%;margin:0 auto;background:url('/assets/NoInviteMessage.png') no-repeat top center;background-size:100% 100%;position:absolute;height: 100%;margin-top: -22px">
<%else @status ==true%>

    <div class="header" style="width: 100%;margin:0 auto;background:url('/assets/FrontPage.png') no-repeat top center;background-size:100% 100%;position:absolute;height: 100%;margin-top: -22px">

</div>
<%end%>

<%
=end %>

<%if @status ==false%>
    <div class="header" style="width: 100%;margin:0 auto;background:url('/assets/NoInviteMessage.png') no-repeat top center;background-size:100% 100%;position:absolute;height: 100%;margin-top: -22px">
<%else @status ==true%>
<div class="hero" style="margin-top: -22px">
    <!--<p class="large brandon">Harry&#8217;s is live</p>-->
    <!--<p class="small brandon">Respecting the Face and Wallet<br>Since Like...Right Now.</p>-->
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
        <p class="go-to brandon">In the meantime, head to  <a href="http://www.harrys.com/">WWW.HARRYS.COM</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        <div class="key"></div>
        <p class="byline brandon">Be the first to know</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
        <% end %>
    <% end %>
</div>
<%end%>

